<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>
<br>

<section class="about">
  <h1>about "shashin"</h1>
  <p>
    このサイトは大課題2のために作成されたサイトです。<br>
    写真とそれに関するコメントを投稿し、利用者間で共有することができます。
  </p>
  <p>
    早速写真を投稿してみましょう！<br>
    <%= link_to "写真投稿画面へ", pictures_path %>
  </p>
</section>
