// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shashin_logo {
  font-family: cursive;
}

footer {
    width: 100%;
    background-color:#dddddd;
    padding: 20px 0 10px 0;
    color: black;
    margin: auto;
    font-size: 12px;
    position: absolute;    //htmlタグを基準とした配置
    bottom: 0;
}
